name: Update automated lists
on:
  push:
    branches:
        - master
    paths:
      - 'pihole-google.txt'
jobs:
  update:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v6
    - run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
    - uses: actions/setup-python@v6
      with:
        python-version: 3.14
        cache: 'pip'
    - name: Update categories
      run: |
        python3 convert.py categories
    - name: Update AdGuard lists
      run: |
        python3 convert.py adguard
        python3 convert.py adguard_important
    - name: Update parsed list
      run: |
        python3 convert.py pihole
    - name: Update Unbound list
      run: |
        python3 convert.py unbound
    - name: Update DNSMasq list
      run: |
        python3 convert.py dnsmasq
    - name: Commit automated updates
      run: |
        git add . && git commit -am "Automated update
        - Categories lists update
        - AdGuard list update
        - Parsed list update
        - Unbound list update
        - DNSMasq list update"
        git push